<%= render "partials/flash" %>

<h2>Login</h2>

<div class="row">
  <div class="col-md-6 cil-md-offset-3">
    <%= form_for :user do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, placeholder: "Enter your email", class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, placeholder: "Enter your password", class: 'form-control' %>

      <%= f.submit "Login", class: 'btn btn-primary' %>

    <% end %>

  <p>New user? <%= link_to "Create a new profile!", new_user_path %></p>

  </div>
</div>
